!!!5
html.no-js(lang='en', ng-app="testangular")

    head
        title Login
        link(rel='shortcut icon', href='favicon.ico')
        link(rel='stylesheet', href='css/login.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')

        script(src='lib/js/angular/angular.min.js')
        script(src='js/app.js')


    body
      .background
      .main-container
          .dialog-container
              .dialog-box
                  .title LOG IN
                  form(ng-controller='LoginController')
                      .form(signin-validator)
                          .fields
                              .field
                                  .wrapper
                                      i.icon-envelope
                                  input(type='text', id='username', placeholder='Email', ng-model='username')
                              .field
                                  .wrapper
                                      i.icon-lock
                                  input(type='password', id='password', placeholder='Password', ng-model='password')
                          input.button(type='submit', value='LOGIN', ng-click='login()')
                          .error {{error}}
                          .success {{success}}